<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--   写内容 -->
    <!--  通过 spring new 一个对象   -->
    <!-- bean 豆子 javaBean 将java对象当做一个个豆子  -->
    <!-- IOC 控制反转  new Student() 由Spring来做，你只要把配方给他 -->
    <bean id="stu1" class="com.gmgx.entity.Student">
        <!--DI 依赖注入  由Spring帮你 赋值（赋 对象  ）   -->
        <property name="sno" value="1"></property>
        <property name="sname" value="gxk"></property>
    </bean>

</beans>