<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xenon.mapper.OrderDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xenon.entity.OrderDetail">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="image" property="image" />
        <result column="order_id" property="orderId" />
        <result column="goods_id" property="goodsId" />
        <result column="set_meal_id" property="setMealId" />
        <result column="goods_flavor" property="goodsFlavor" />
        <result column="number" property="number" />
        <result column="amount" property="amount" />
    </resultMap>

</mapper>
