<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gmgx.dao.IBrandDao">

    <!--  Brand 的 Map 映射  -->
    <resultMap id="BrandMap" type="com.gmgx.entity.Brand">
        <id property="id" column="id"></id>
        <result property="brandName" column="brand_name"></result>
        <result property="companyName" column="company_name"></result>
        <result property="ordered" column="ordered"></result>
        <result property="description" column="description"></result>
        <result property="status" column="status"></result>
    </resultMap>

    <!--  查询所有品牌  -->
    <select id="queryAllBrand" resultMap="BrandMap">
        select * from t_brand
    </select>
    
    <!--  根据 id 查询品牌描述  -->
    <select id="queryDescription" resultType="String">
        select description from t_brand where id = #{id}
    </select>

    <!--  多条件查询品牌名称  -->
    <select id="queruBrandByMultipleConditions" resultMap="BrandMap">
        select * from t_brand where status = #{status} and brand_name like concat('%',#{brandName},'%') and company_name like concat('%',#{companyName},'%')
    </select>

    <!--  插入品牌  -->
    <insert id="insertBrand">
        insert into t_brand(brand_name,company_name,ordered,description,status) values (#{brandName},#{companyName},#{ordered},#{description},#{status})
    </insert>

<!--    根据 品牌id 删除品牌 -->
    <delete id="deleteBrand">
        delete from t_brand where id = #{id}
    </delete>

<!--    根据 品牌id 更新品牌 -->
    <update id="updateBrand">
        update t_brand set brand_name = #{brandName},company_name = #{companyName},ordered = #{ordered},description = #{description},status = #{status} where id = #{id}
    </update>

<!--    根据选择 查询品牌 -->
    <select id="queryBrandByChoose" resultMap="BrandMap">
        select * from t_brand
        where
        <choose>
            <when test="choose=='当前状态'">status = #{field}</when>
            <when test="choose=='企业名称'">status = #{field}</when>
            <when test="choose=='品牌名称'">status = #{field}</when>
        </choose>
    </select>

<!--    根据 品牌id 更新 有更改字段的品牌 -->
    <update id="updateBrandByFieldChange">
        update t_brand set
                           <if test="brandName != null">brand_name = #{brandName},</if>
                           <if test="companyName != null">company_name = #{companyName},</if>
                           <if test="ordered != null">ordered = #{ordered},</if>
                           <if test="description != null">description = #{description},</if>
                           <if test="status != null">status = #{status}</if>
        where id = #{id}
    </update>
</mapper>